<template>
  <v-container>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Admin Registration</v-toolbar-title>
            <v-spacer />
          </v-toolbar>
          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                v-model="username"
                :rules="rules"
                label="Username"
                name="login"
                prepend-icon="mdi-account"
                type="text"
                required
              />

              <v-text-field
                id="password"
                v-model="password"
                :rules="rules"
                label="Password"
                name="password"
                prepend-icon="mdi-lock"
                type="password"
                required
              />

              <v-text-field
                v-model="confirmPassword"
                :rules="rules"
                label="Confirm password"
                name="comfirmPassword"
                prepend-icon="mdi-lock"
                type="password"
                required
              />

              <v-text-field
                v-model="fullname"
                :rules="rules"
                label="Fullname"
                name="fullname"
                prepend-icon="mdi-account-details"
                required
              />

              <v-select
                v-model="selectedRole"
                :rules="rules"
                :items="roles"
                label="Role"
                name="Role"
                prepend-icon="mdi-clipboard-account"
                required
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn :disabled="!valid" color="primary" @click="signup"
              >Sign Up</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "AdminSignUp",
  data() {
    return {
      valid: true,
      rules: [v => v != "" || "Empty"],
      username: "",
      password: "",
      confirmPassword: "",
      fullname: "",
      selectedRole: "",
      roles: ["nurse", "doctor", "superadmin"]
    };
  },
  methods: {
    async signup() {
      if (!this.$refs.form.validate()) {
        return;
      }

      /**
       * For production
       */
      if (
        (this.username == "" || this.username == null) &&
        (this.password == "" || this.password == null)
      ) {
        return alert("Please provides username and password");
      }

      if (this.username == "" || this.username == null) {
        return alert("Please provides an username");
      }

      if (this.password == "" || this.password == null) {
        return alert("Please provides a password");
      }

      if (this.fullname == "" || this.fullname == null) {
        return alert("Please provides a fullname");
      }

      if (this.password !== this.confirmPassword) {
        return alert("Passwords do not matched");
      }

      if (this.selectedRole == "" || this.selectedRole == null) {
        return alert("Please selects the role");
      }

      if (!confirm("Would you register this account?")) {
        return;
      }

      const body = {
        username: this.username,
        password: this.password,
        name: this.fullname,
        role: this.selectedRole
      };

      const response = await axios
        .post(`${process.env.VUE_APP_API_ENDPOINT}/admin`, body, {
          headers: {
            "Content-Type": "application/json"
          }
        })
        .catch(error => {
          alert(error);
        });
      if (response) {
        alert("The registration is successful");

        // Redirect to home after finishing the registration
        this.$router.push("/").catch(() => {
          return;
        });
      }
    }
  }
};
</script>
