<template>
  <v-card>
    <v-data-table
      :headers="headers"
      :items="data"
      :sort-by="['timestamp']"
      :sort-desc="[true]"
      :search="search"
      no-data-text="No data..."
    >
      <template v-slot:top>
        <v-toolbar flat color="white">
          <v-toolbar-title>{{ title }} </v-toolbar-title>
          <v-divider class="mx-4" inset vertical></v-divider>
          <v-spacer></v-spacer>

          <v-dialog v-model="dialog" max-width="300px">
            <template v-slot:activator="{ on }">
              <v-btn
                color="primary"
                dark
                class="mb-2"
                v-on="on"
                @click="defaultItemToNow"
                >Add Data</v-btn
              >
            </template>
            <v-card>
              <v-card-title>
                <span class="headline">{{ formTitle }}</span>
              </v-card-title>

              <v-card-text>
                <v-container>
                  <v-row>
                    <v-form ref="form" v-model="valid" lazy-validation>
                      <v-col cols="12" sm="6" md="12">
                        <h4>Date</h4>
                        <v-select
                          v-model="editedItem.date"
                          :items="dates"
                          :rules="dateRules"
                          label="Day"
                          required
                        ></v-select>
                        <v-select
                          v-model="editedItem.month"
                          :items="months"
                          :rules="monthRules"
                          label="Month"
                          required
                        ></v-select>
                        <v-select
                          v-model="editedItem.year"
                          :items="years"
                          :rules="yearRules"
                          label="Year"
                          required
                        ></v-select>
                      </v-col>
                      <v-col cols="12" sm="6" md="12">
                        <h4>Time</h4>
                        <v-select
                          v-model="editedItem.hour"
                          :items="hours"
                          :rules="hourRules"
                          label="Hour"
                          required
                        ></v-select>
                        <v-select
                          v-model="editedItem.minute"
                          :items="minutes"
                          :rules="minuteRules"
                          label="Minute"
                          required
                        ></v-select>
                      </v-col>

                      <v-col cols="12" sm="6" md="12">
                        <h4>Data</h4>
                        <v-text-field
                          v-model="editedItem.val"
                          :rules="valRules"
                          label="Value"
                          required
                        ></v-text-field>
                      </v-col>
                    </v-form>
                  </v-row>
                </v-container>
              </v-card-text>

              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="blue darken-1" text @click="close">Cancel</v-btn>
                <v-btn
                  :disabled="!valid"
                  color="blue darken-1"
                  text
                  @click="save"
                  >Submit</v-btn
                >
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-toolbar>
        <v-text-field
          class="mx-6 mt-0 mb-2"
          v-model="search"
          append-icon="mdi-magnify"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </template>
      <template v-slot:item.actions="{ item }">
        <v-icon small class="mr-2" @click="editItem(item)">
          mdi-pencil
        </v-icon>
        <v-icon small @click="deleteItem(item)">
          mdi-delete
        </v-icon>
      </template>
    </v-data-table>
  </v-card>
</template>

<script>
import axios from "axios";

export default {
  props: {
    title: {
      type: String,
      required: true
    },
    patientID: {
      type: String,
      required: true
    },
    data: {
      type: Array,
      required: true
    },
    type: {
      type: String,
      required: true
    }
  },
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Add Data" : "Edit Data";
    }
  },
  watch: {
    dialog(val) {
      val || this.close();
    },
    data: {
      handler(newVal) {
        this.formattedData = newVal;
        this.formatDataForDatatable();
      },
      deep: true
    }
  },

  mounted() {
    this.formatDataForDatatable();

    // Initialize accepted datum for resetting
    this.tempFormattedData = this.formattedData;
  },
  data() {
    return {
      valid: true,
      search: "",
      headers: [
        {
          text: "Time",
          align: "start",
          value: "timestamp"
        },
        { text: "Value", value: "value" },
        { text: "Actions", value: "actions", sortable: false }
      ],
      formattedData: "",
      tempFormattedData: "",
      dates: [...Array(31).keys()].map(i => ++i),
      months: [...Array(12).keys()].map(i => ++i),
      years: [...Array(10).keys()].map(i => new Date().getFullYear() - i),
      hours: [...Array(24).keys()],
      minutes: [...Array(60).keys()],
      dateRules: [v => v != "" || "Empty"],
      monthRules: [v => v != "" || "Empty"],
      yearRules: [v => v != "" || "Empty"],
      hourRules: [v => v !== "" || "Empty"],
      minuteRules: [v => v !== "" || "Empty"],
      valRules: [v => v != "" || "Empty"],
      // For slots
      dialog: false,
      editedIndex: -1,
      editedItem: {
        date: "",
        month: "",
        year: "",
        hour: "",
        minute: "",
        val: ""
      },
      defaultItem: {
        date: "",
        month: "",
        year: "",
        hour: "",
        minute: "",
        val: ""
      }
    };
  },
  methods: {
    initialize() {
      this.formattedData = this.tempFormattedData;
    },

    formatDataForDatatable() {
      // Clone data from props
      this.formattedData = this.data;

      this.formattedData.forEach((element, index) => {
        /**
         * Transform timestamp to an expected format
         * Example of timestamp: "2020-03-25_20-05"
         * Example of expected format: "2015-3-15 13:3"
         */
        if (this.formattedData[index].timestamp.split("_").length != 2) {
          return;
        }
        const [date, time] = this.formattedData[index].timestamp.split("_");
        const [year, month, day] = date.split("-");
        const [hour, min] = time.split("-");
        this.formattedData[index].timestamp = new Date(
          year,
          month - 1,
          day,
          hour,
          min
        ).toLocaleString();
      });
    },

    defaultItemToNow() {
      const timestamp = new Date();
      const year = timestamp.getFullYear();
      const month = timestamp.getMonth() + 1;
      const date = timestamp.getDate();
      const hour = timestamp.getHours();
      const minute = timestamp.getMinutes();

      this.editedItem.date = date;
      this.editedItem.month = month;
      this.editedItem.year = year;
      this.editedItem.hour = hour;
      this.editedItem.minute = minute;
    },

    editItem(item) {
      this.editedIndex = this.formattedData.indexOf(item);
      const timestamp = new Date(item.timestamp);
      const year = timestamp.getFullYear();
      const month = timestamp.getMonth() + 1;
      const date = timestamp.getDate();
      const hour = timestamp.getHours();
      const minute = timestamp.getMinutes();

      const val = item.value;

      this.editedItem = Object.assign({}, this.editedItem);

      this.editedItem.date = date;
      this.editedItem.month = month;
      this.editedItem.year = year;
      this.editedItem.hour = hour;
      this.editedItem.minute = minute;
      this.editedItem.val = val;
      this.dialog = true;
    },

    deleteItem(item) {
      const index = this.formattedData.indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.formattedData.splice(index, 1);
    },

    close() {
      this.dialog = false;
      setTimeout(() => {
        this.editedItem = Object.assign({}, this.defaultItem);
        this.editedIndex = -1;

        // Clear form validation
        this.$refs.form.resetValidation();
      }, 300);
    },

    async save() {
      if (!this.$refs.form.validate()) {
        return;
      }

      if (!confirm("Are you sure?")) {
        return;
      }

      const timestamp = new Date(
        this.editedItem.year,
        this.editedItem.month - 1,
        this.editedItem.date,
        this.editedItem.hour,
        this.editedItem.minute
      ).toLocaleString();

      if (this.editedIndex > -1) {
        // Editing the record
        Object.assign(this.formattedData[this.editedIndex], {
          timestamp: timestamp,
          value: this.editedItem.val
        });
      } else {
        // For using with api
        // Adding new record
        const timestamp_API = this.formattedTimestampForAPI(
          new Date(
            this.editedItem.year,
            this.editedItem.month - 1,
            this.editedItem.date,
            this.editedItem.hour,
            this.editedItem.minute
          )
        );

        const body = {
          ID: this.patientID,
          record: {
            timestamp: timestamp_API,
            type: this.type,
            value: this.editedItem.val
          }
        };

        const response = await axios
          .post(`${process.env.VUE_APP_API_ENDPOINT}/record`, body, {
            headers: {
              "Content-Type": "application/json"
            }
          })
          .catch(error => {
            alert(error);
          });
        if (response) {
          const dataForGraph = {
            timestamp: body.record.timestamp,
            value: body.record.value
          };

          // Update graphs
          this.$emit("updateGraphs", this.type, dataForGraph);

          // Format added data for data table
          this.formatDataForDatatable();

          alert("Adding new record is successful");
        }
      }
      this.close();
    },

    formattedTimestampForAPI(temp_timestamp) {
      const yyyy = temp_timestamp.getFullYear();
      const MM =
        (temp_timestamp.getMonth() + 1 < 10 ? "0" : "") +
        (temp_timestamp.getMonth() + 1);
      const dd =
        (temp_timestamp.getDate() < 10 ? "0" : "") + temp_timestamp.getDate();
      const HH =
        (temp_timestamp.getHours() < 10 ? "0" : "") + temp_timestamp.getHours();
      const mm =
        (temp_timestamp.getMinutes() < 10 ? "0" : "") +
        temp_timestamp.getMinutes();

      // Timestamp (yyyy-MM-dd_HH-mm)
      const timestamp = `${yyyy}-${MM}-${dd}_${HH}-${mm}`;
      return timestamp;
    }
  }
};
</script>
