<template>
  <v-container>
    <v-row align="center" justify="center">
      <v-col cols="12" sm="8" md="4">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Login</v-toolbar-title>
            <v-spacer />
          </v-toolbar>
          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-text-field
                v-model="username"
                :rules="rules"
                label="Username"
                name="login"
                prepend-icon="mdi-account"
                type="text"
                required
              />

              <v-text-field
                id="password"
                :rules="rules"
                v-model="password"
                label="Password"
                name="password"
                prepend-icon="mdi-lock"
                type="password"
                required
              />
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn :disabled="!valid" color="primary" @click="login"
              >Login</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  name: "Login",
  data() {
    return {
      valid: true,
      rules: [v => v != "" || v != null || "Empty"],
      username: null,
      password: null
    };
  },
  methods: {
    async login() {
      if (!this.$refs.form.validate()) {
        return;
      }

      /**
       * For production
       */

      if (
        (this.username == "" || this.username == null) &&
        (this.password == "" || this.password == null)
      ) {
        return alert("Please provides username and password");
      }

      if (this.username == "" || this.username == null) {
        return alert("Please provides username");
      }

      if (this.password == "" || this.password == null) {
        return alert("Please provides password");
      }

      const body = { username: this.username, password: this.password };

      const response = await axios
        .post(`${process.env.VUE_APP_API_ENDPOINT}/login`, body, {
          headers: {
            "Content-Type": "application/json"
          }
        })
        .catch(error => {
          alert(error);
        });
      if (response) {
        // Save user's information
        localStorage.setItem("user", JSON.stringify(response.data.data));

        // Save user's token
        const datetime = new Date();
        datetime.setHours(datetime.getHours() + 1);
        localStorage.setItem(
          "jwt",
          JSON.stringify({
            token: "fake-JWT-token",
            token_exp: datetime
          })
        );

        if (localStorage.getItem("jwt") != null) {
          // Update app bar to show username and logout button
          this.$emit("updateAppBar");

          if (this.$route.params.nextUrl != null) {
            this.$router.push(this.$route.params.nextUrl).catch(() => {
              return;
            });
          } else {
            this.$router.push("/").catch(() => {
              return;
            });
          }
        }
      }
    }
  }
};
</script>
