<template>
  <v-container>
    <v-row align="center" justify="center">
      <v-col cols="12">
        <v-card class="elevation-12">
          <v-toolbar color="primary" dark flat>
            <v-toolbar-title>Add treatment</v-toolbar-title>
            <v-spacer />
          </v-toolbar>
          <v-card-text>
            <v-form
              ref="form"
              v-model="valid"
              lazy-validation
              class="d-flex"
              style="flex-wrap: wrap;"
            >
              <v-col style="flex: 1 50%;">
                <h5>Order one day</h5>
                <div>
                  <div
                    class="d-flex"
                    v-for="(textField, index) in textFields.oodTextFields"
                    :key="index"
                  >
                    <div style="flex: 1 95%;">
                      <v-text-field
                        v-model="textFields.oodTextFields[index]"
                        label="Optional"
                        type="text"
                      ></v-text-field>
                    </div>
                    <div style="flex: 1 5%; margin: auto;">
                      <v-btn
                        icon
                        color="red"
                        @click="deleteTextField(textField, 'oodTextFields')"
                        ><v-icon>mdi-delete</v-icon></v-btn
                      >
                    </div>
                  </div>
                  <div>
                    <v-btn
                      icon
                      color="green"
                      @click="addTextField('oodTextFields')"
                      ><v-icon>mdi-plus</v-icon></v-btn
                    >
                  </div>
                </div>
                <h6 class="mt-6">Home medication</h6>
                <div>
                  <div
                    class="d-flex"
                    v-for="(textField, index) in textFields.oodHMTextFields"
                    :key="index"
                  >
                    <div style="flex: 1 95%;">
                      <v-text-field
                        v-model="textFields.oodHMTextFields[index]"
                        label="Optional"
                        type="text"
                      ></v-text-field>
                    </div>
                    <div style="flex: 1 5%; margin: auto;">
                      <v-btn
                        icon
                        color="red"
                        @click="deleteTextField(textField, 'oodHMTextFields')"
                        ><v-icon>mdi-delete</v-icon></v-btn
                      >
                    </div>
                  </div>
                  <div>
                    <v-btn
                      icon
                      color="green"
                      @click="addTextField('oodHMTextFields')"
                      ><v-icon>mdi-plus</v-icon></v-btn
                    >
                  </div>
                </div>
              </v-col>
              <v-col style="flex: 1 50%;">
                <h5>Continuous order</h5>
                <div>
                  <div
                    class="d-flex"
                    v-for="(textField, index) in textFields.coTextFields"
                    :key="index"
                  >
                    <div style="flex: 1 95%;">
                      <v-text-field
                        v-model="textFields.coTextFields[index]"
                        label="Optional"
                        type="text"
                      ></v-text-field>
                    </div>
                    <div style="flex: 1 5%; margin: auto;">
                      <v-btn
                        icon
                        color="red"
                        @click="deleteTextField(textField, 'coTextFields')"
                        ><v-icon>mdi-delete</v-icon></v-btn
                      >
                    </div>
                  </div>
                  <div>
                    <v-btn
                      icon
                      color="green"
                      @click="addTextField('coTextFields')"
                      ><v-icon>mdi-plus</v-icon></v-btn
                    >
                  </div>
                </div>

                <h6 class="mt-12">Medication</h6>
                <div>
                  <div
                    class="d-flex"
                    v-for="(textField, index) in textFields.coMTextFields"
                    :key="index"
                  >
                    <div style="flex: 1 95%;">
                      <v-text-field
                        v-model="textFields.coMTextFields[index]"
                        label="Optional"
                        type="text"
                      ></v-text-field>
                    </div>
                    <div style="flex: 1 5%; margin: auto;">
                      <v-btn
                        icon
                        color="red"
                        @click="deleteTextField(textField, 'coMTextFields')"
                        ><v-icon>mdi-delete</v-icon></v-btn
                      >
                    </div>
                  </div>
                  <div>
                    <v-btn
                      icon
                      color="green"
                      @click="addTextField('coMTextFields')"
                      ><v-icon>mdi-plus</v-icon></v-btn
                    >
                  </div>
                </div>

                <h6 class="mt-4" style="color: red">
                  ข้อพิจารณาที่ต้องเฝ้าระวังที่ รพ.
                </h6>
                <ul style="color: red">
                  <li>ไข้มากกว่า 38 องศาเซลเซียส</li>
                  <li>หายใจเร็วกว่า 20 ครั้งต่อนาที</li>
                  <li>ความดันโลหิต น้อยกว่า 90/60mmHg</li>
                  <li>มีความเสี่ยงสูงที่จะเป็นปอดอักเสบรุนแรง</li>
                  <li>ภาพถ่ายรังสีมีความผิดปกติ</li>
                  <li>รับประทานอาหารและน้ำไม่ได้ หรือมีภาวะขาดน้ำ</li>
                  <li>ไม่สามารถแยกเฝ้าระวังตัวเองได้</li>
                </ul>
              </v-col>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn :disabled="!valid" color="primary" @click="addTreatment"
              >Submit</v-btn
            >
          </v-card-actions>
        </v-card>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import axios from "axios";

export default {
  props: {
    patientID: {
      type: String,
      required: true
    },
    user: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      valid: true,

      rules: [v => v != "" || "Empty"],
      // ood (Order one day), co (Continuous order)
      // ood
      oodChecked: false,
      // co
      coChecked: false,
      textFields: {
        oodTextFields: [""],
        oodHMTextFields: [""],
        coTextFields: [""],
        coMTextFields: [""]
      }
    };
  },
  methods: {
    formattedTimestampForAPI(temp_timestamp) {
      const yyyy = temp_timestamp.getFullYear();
      const MM =
        (temp_timestamp.getMonth() + 1 < 10 ? "0" : "") +
        (temp_timestamp.getMonth() + 1);
      const dd =
        (temp_timestamp.getDate() < 10 ? "0" : "") + temp_timestamp.getDate();
      const HH =
        (temp_timestamp.getHours() < 10 ? "0" : "") + temp_timestamp.getHours();
      const mm =
        (temp_timestamp.getMinutes() < 10 ? "0" : "") +
        temp_timestamp.getMinutes();

      // Timestamp (yyyy-MM-dd_HH-mm)
      const timestamp = `${yyyy}-${MM}-${dd}_${HH}-${mm}`;
      return timestamp;
    },
    async addTreatment() {
      if (!this.$refs.form.validate()) {
        return;
      }

      if (!confirm("Are you sure?")) {
        return;
      }

      // Delete empty textfield
      Object.keys(this.textFields).forEach(key => {
        this.textFields[key].forEach(element => {
          if (element == "") {
            const index = this.textFields[key].indexOf(element);
            this.textFields[key].splice(index, 1);
          }
        });
      });

      //   Check ood is selected or not
      if (
        this.textFields.oodTextFields.length != 0 ||
        this.textFields.oodHMTextFields.length != 0
      ) {
        this.oodChecked = true;
      }

      //   Check co is selected or not
      if (
        this.textFields.coTextFields.length != 0 ||
        this.textFields.coMTextFields.length != 0
      ) {
        this.coChecked = true;
      }

      const body = {
        ID: this.patientID,
        timestamp: this.formattedTimestampForAPI(new Date()),
        name: this.user.name,
        record: {
          oodChecked: this.oodChecked,
          coChecked: this.coChecked,
          textFields: {
            oodTextFields: this.textFields.oodTextFields,
            oodHMTextFields: this.textFields.oodHMTextFields,
            coTextFields: this.textFields.coTextFields,
            coMTextFields: this.textFields.coMTextFields
          }
        }
      };

      const response = await axios
        .post(`${process.env.VUE_APP_API_ENDPOINT}/treatment`, body, {
          headers: {
            "Content-Type": "application/json"
          }
        })
        .catch(error => {
          alert(error);
        });
      if (response) {
        // Update treatment
        this.$emit("updateTreatment", body);

        alert("Adding treatment is successful");

        // Reset form to default
        Object.keys(this.textFields).forEach(key => {
          this.textFields[key] = [""];
        });

        // Clear form validation
        this.$refs.form.resetValidation();
      }
    },
    addTextField(key) {
      this.textFields[key].push("");
    },
    deleteTextField(item, key) {
      const index = this.textFields[key].indexOf(item);
      confirm("Are you sure you want to delete this item?") &&
        this.textFields[key].splice(index, 1);
    }
  }
};
</script>
