<template>
  <v-app>
    <v-app-bar app color="primary" dark>
      <div class="d-flex align-center">
        <v-btn text @click="goToHome"
          ><span class="v-app-bar-title">VISTA</span></v-btn
        >
      </div>
      <img :src="require('@/assets/vistec_color.png')" class="logo px-2" />
      <v-spacer />
      <h4
        v-if="isLoggedIn"
        class="ma-4 hidden-sm-and-down"
        style="font-size: 1.5rem;"
      >
        {{ user.name }}
      </h4>
      <v-btn
        v-if="isLoggedIn"
        class="font-weight-bold"
        color="error"
        @click="logout"
        >Logout</v-btn
      >
      <v-btn v-else @click="goToLogin">Login</v-btn>
    </v-app-bar>

    <v-content>
      <v-container class="fill-height" fluid>
        <router-view @updateAppBar="handleUpdate"></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
export default {
  name: "App",

  components: {},

  data: () => ({
    isLoggedIn: false,
    user: ""
  }),

  mounted() {
    this.checkLoggingIn();
  },

  methods: {
    handleUpdate() {
      this.checkLoggingIn();
    },
    checkLoggingIn() {
      const user = localStorage.getItem("user");

      if (user) {
        this.user = JSON.parse(user);
        this.isLoggedIn = !this.isLoggedIn;
      }
    },
    goToHome() {
      this.$router.push("/").catch(() => {
        return;
      });
    },
    goToLogin() {
      this.$router.push("/login").catch(() => {
        return;
      });
    },
    logout() {
      localStorage.removeItem("user");
      localStorage.removeItem("jwt");
      this.isLoggedIn = !this.isLoggedIn;
      this.goToLogin();
    }
  }
};
</script>

<style scoped>
.v-app-bar-title {
  font-size: 1.5rem;
}

.logo {
  max-width: 20%;
  display: block;
  height: auto;
  width: 120px;
}
</style>
