<template>
  <v-container>
    <v-row class="d-flex flex-column">
      <v-col
        v-for="(item, index) in buttonList"
        :key="index"
        style="text-align: center;"
      >
        <v-btn
          v-if="item.isSuperadmin ? user.role == 'superadmin' : true"
          height="100px"
          width="300px"
          :class="['menu-button', 'white--text', item.classes]"
          @click="item.linkTo"
        >
          {{ item.text }}
        </v-btn>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: "Home",
  data() {
    return {
      user: "",
      buttonList: [
        {
          classes: ["deep-purple", "accent-4"],
          linkTo: this.goToRegister,
          text: "Register new user"
        },
        {
          classes: ["deep-orange", "accent-3"],
          linkTo: this.goToTransactions,
          text: "Check patient"
        },
        {
          classes: ["green", "accent-4"],
          linkTo: this.goToAdminRegistration,
          text: "Add user",
          isSuperadmin: true
        }
      ]
    };
  },
  mounted() {
    const user = localStorage.getItem("user");
    if (user) {
      this.user = JSON.parse(user);
    }
  },
  methods: {
    goToRegister() {
      this.$router.push("/register").catch(() => {
        return;
      });
    },
    goToTransactions() {
      this.$router.push("/transactions").catch(() => {
        return;
      });
    },
    goToAdminRegistration() {
      this.$router.push("/adminregister").catch(() => {
        return;
      });
    }
  }
};
</script>

<style scoped>
.menu-button {
  font-size: 1em;
}
</style>
