<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Registration Form</h1>
        <div class="d-flex">
          <v-form
            ref="form"
            v-model="valid"
            lazy-validation
            style="margin-top: 2em;"
            class="mx-auto"
          >
            <v-text-field
              v-model="patientID"
              :rules="patientIDRules"
              label="Patient ID"
              required
            ></v-text-field>

            <v-checkbox
              v-model="checkbox"
              :rules="[v => !!v || 'You must agree to continue!']"
              label="I confirmed that all of information above are correct"
              required
            ></v-checkbox>

            <v-btn
              :disabled="!valid"
              color="success"
              class="mr-4"
              @click="validate"
            >
              Submit
            </v-btn>

            <v-btn color="error" class="mr-4" @click="reset">
              Clear
            </v-btn>
          </v-form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Registration",
  data() {
    return {
      // Form
      valid: true,
      patientID: "",
      patientIDRules: [v => (v && v != "") || "Empty patient ID"],
      checkbox: false
    };
  },
  methods: {
    async validate() {
      if (!this.$refs.form.validate()) {
        return;
      }

      if (!confirm("Would you register this patient?")) {
        return;
      }

      // Params of form
      let bodyFormData = new FormData();
      bodyFormData.set("ID", this.patientID);

      const response = await axios
        .post(`${process.env.VUE_APP_API_ENDPOINT}/patient`, bodyFormData, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .catch(error => {
          alert(error);
        });
      if (response) {
        alert("The registration is successful");
        this.reset();
      }
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    }
  }
};
</script>

<style scoped>
figure img {
  width: 50%;
}
</style>
