<template>
  <v-container>
    <!-- Patient search -->
    <v-row align="center" justify="center" class="mx-auto"
      ><v-col cols="12" md="6">
        <v-autocomplete
          v-model="queryID"
          :items="patientsList"
          prepend-icon="mdi-account"
          label="Patient ID"
        ></v-autocomplete>
      </v-col>
      <v-col
        cols="12"
        md="6"
        :align="$vuetify.breakpoint.smAndDown ? 'center' : 'start'"
        justify="center"
        ><v-btn color="primary" @click="getData" class="mx-12">Search</v-btn>
        <v-btn
          :color="!isUsingQRScanner ? 'green accent-2' : 'red accent-2'"
          @click="isUsingQRScanner = !isUsingQRScanner"
          :class="$vuetify.breakpoint.smAndDown ? 'mt-4' : 'mx-auto'"
          >{{ isUsingQRScanner ? "Close QR Scanner" : "Use QR Scanner" }}</v-btn
        >
      </v-col>
    </v-row>

    <!-- QR Scanner -->
    <v-row v-if="isUsingQRScanner" class="mx-2">
      <v-col align="center" justify="center" class="mb-12">
        <QrcodeStream @decode="onDecode" style="width: 60%;"></QrcodeStream>
        <QrcodeCapture @decode="onDecode" class="btn mt-4"></QrcodeCapture>
      </v-col>

      <div class="divider mt-6"></div>
    </v-row>

    <!-- Information of patient / personal card -->
    <v-row v-if="searchedID" align="center" justify="center" class="ma-6">
      <v-card
        ><v-col
          ><v-card-title class="font-weight-black"
            >Patient ID: {{ searchedID }}</v-card-title
          ></v-col
        ></v-card
      >
    </v-row>

    <!-- QR Code -->
    <v-row v-if="searchedID" align="center" justify="center" class="ma-6">
      <v-card>
        <v-col>
          <svg
            id="qrCode"
            v-html="queriedData.qr"
            style="height: 200px; width: 200px;"
            viewBox="0 0 33 30"
          />
        </v-col>
        <v-col align="center" justify="center" class="pb-6">
          <v-btn color="secondary" @click="downloadQRCode"
            >Download QR Code</v-btn
          >
        </v-col>
      </v-card>
    </v-row>

    <!-- History table / data table -->
    <v-row v-if="searchedID" class="d-flex mx-0">
      <!-- Heart Rate -->
      <v-col style="flex: 1 50%;">
        <DataTable
          title="Heart Rate"
          :patientID="searchedID"
          :data="
            queriedData.hasOwnProperty('medical')
              ? queriedData.medical.hasOwnProperty('hr')
                ? queriedData.medical.hr
                : []
              : []
          "
          type="hr"
          @updateGraphs="handleUpdateGraphs"
        ></DataTable>
      </v-col>

      <!-- Respiratory Rate -->
      <v-col style="flex: 1 50%;">
        <DataTable
          title="Respiratory Rate"
          :patientID="searchedID"
          :data="
            queriedData.hasOwnProperty('medical')
              ? queriedData.medical.hasOwnProperty('rr')
                ? queriedData.medical.rr
                : []
              : []
          "
          type="rr"
          @updateGraphs="handleUpdateGraphs"
        ></DataTable>
      </v-col>

      <v-col style="flex: 1 50%;">
        <DataTable
          title="SpO2"
          :patientID="searchedID"
          :data="
            queriedData.hasOwnProperty('medical')
              ? queriedData.medical.hasOwnProperty('spo2')
                ? queriedData.medical.spo2
                : []
              : []
          "
          type="spo2"
          @updateGraphs="handleUpdateGraphs"
        ></DataTable>
      </v-col>

      <v-col style="flex: 1 50%;">
        <DataTable
          title="Body Temperature"
          :patientID="searchedID"
          :data="
            queriedData.hasOwnProperty('medical')
              ? queriedData.medical.hasOwnProperty('body-temp')
                ? queriedData.medical['body-temp']
                : []
              : []
          "
          type="body-temp"
          @updateGraphs="handleUpdateGraphs"
        ></DataTable>
      </v-col>

      <!-- Pressure -->
      <v-col style="flex: 1 50%;">
        <DataTable
          title="Blood Pressure"
          :patientID="searchedID"
          :data="
            queriedData.hasOwnProperty('medical')
              ? queriedData.medical.hasOwnProperty('pressure')
                ? queriedData.medical.pressure
                : []
              : []
          "
          type="pressure"
          @updateGraphs="handleUpdateGraphs"
        ></DataTable>
      </v-col>
    </v-row>

    <!-- Line chart -->
    <v-row v-if="queriedData">
      <v-col>
        <div class="small">
          <LineChart
            v-if="
              queriedData.hasOwnProperty('medical')
                ? queriedData.medical.hasOwnProperty('hr')
                : false
            "
            title="Heart rate of patient (bpm)"
            :label="['HR']"
            :data="queriedData.medical.hr"
          ></LineChart>
        </div>
      </v-col>
    </v-row>

    <v-row v-if="queriedData">
      <v-col>
        <div class="small">
          <LineChart
            v-if="
              queriedData.hasOwnProperty('medical')
                ? queriedData.medical.hasOwnProperty('rr')
                : false
            "
            title="Respiratory rate of patient (bpm)"
            :label="['RR']"
            :data="queriedData.medical.rr"
          ></LineChart>
        </div>
      </v-col>
    </v-row>

    <v-row v-if="queriedData">
      <v-col>
        <div class="small">
          <LineChart
            v-if="
              queriedData.hasOwnProperty('medical')
                ? queriedData.medical.hasOwnProperty('spo2')
                : false
            "
            title="Oxygen saturation of patient"
            :label="['SpO2']"
            :data="queriedData.medical.spo2"
          ></LineChart>
        </div>
      </v-col>
    </v-row>

    <v-row v-if="queriedData">
      <v-col>
        <div class="small">
          <LineChart
            v-if="
              queriedData.hasOwnProperty('medical')
                ? queriedData.medical.hasOwnProperty('body-temp')
                : false
            "
            title="Temp of patient (Celsius)"
            :label="['Temp']"
            :data="queriedData.medical['body-temp']"
          ></LineChart>
        </div>
      </v-col>
    </v-row>

    <v-row v-if="queriedData">
      <v-col>
        <div class="small">
          <LineChart
            v-if="
              queriedData.hasOwnProperty('medical')
                ? queriedData.medical.hasOwnProperty('pressure')
                : false
            "
            title="Blood pressure of patient"
            :label="['High', 'Low']"
            :data="queriedData.medical.pressure"
            :option="{ key: 'pressure' }"
          ></LineChart>
        </div>
      </v-col>
    </v-row>

    <!-- Treatment Form -->
    <v-row v-if="searchedID" class="mx-auto mt-6">
      <h2
        v-if="
          user.role == 'superadmin' ||
            user.role == 'doctor' ||
            treatmentList.length != 0
        "
      >
        Treatment
      </h2>
      <v-col v-if="treatmentList.length != 0" class="pa-6" cols="12">
        <template>
          <div
            v-for="treatment in treatmentList"
            :key="treatment.timestamp"
            class="pa-2 mt-2"
          >
            <v-card
              color="primary"
              class="white--text font-weight-bold pa-1 d-flex"
              style="justify-content: space-between;"
              ><div>
                {{ formatTimestamp(treatment.timestamp) }}
              </div>
              <div>{{ treatment.name }}</div>
            </v-card>
            <v-card class="d-flex pa-1" style="flex-wrap: wrap;">
              <v-col v-if="treatment.record.oodChecked" style="flex: 1 50%;">
                <h5>Order one day</h5>
                <ul
                  v-if="
                    treatment.record.hasOwnProperty('textFields') &&
                    treatment.record.textFields.hasOwnProperty('oodTextFields')
                      ? treatment.record.textFields.oodTextFields.length != 0
                      : false
                  "
                >
                  <li
                    v-for="(text, index) in treatment.record.textFields
                      .oodTextFields"
                    :key="index"
                  >
                    {{ text }}
                  </li>
                </ul>
                <h6
                  v-if="
                    treatment.record.hasOwnProperty('textFields') &&
                    treatment.record.textFields.hasOwnProperty(
                      'oodHMTextFields'
                    )
                      ? treatment.record.textFields.oodHMTextFields.length != 0
                      : false
                  "
                >
                  Home medication
                </h6>
                <ul
                  v-if="
                    treatment.record.hasOwnProperty('textFields') &&
                    treatment.record.textFields.hasOwnProperty(
                      'oodHMTextFields'
                    )
                      ? treatment.record.textFields.oodHMTextFields.length != 0
                      : false
                  "
                >
                  <li
                    v-for="(text, index) in treatment.record.textFields
                      .oodHMTextFields"
                    :key="index"
                  >
                    {{ text }}
                  </li>
                </ul>
              </v-col>
              <v-col v-if="treatment.record.coChecked" style="flex: 1 50%;">
                <h5>
                  Continuous order
                </h5>
                <ul
                  v-if="
                    treatment.record.hasOwnProperty('textFields') &&
                    treatment.record.textFields.hasOwnProperty('coTextFields')
                      ? treatment.record.textFields.coTextFields.length != 0
                      : false
                  "
                >
                  <li
                    v-for="(text, index) in treatment.record.textFields
                      .coTextFields"
                    :key="index"
                  >
                    {{ text }}
                  </li>
                </ul>
                <h6
                  v-if="
                    treatment.record.hasOwnProperty('textFields') &&
                    treatment.record.textFields.hasOwnProperty('coMTextFields')
                      ? treatment.record.textFields.coMTextFields.length != 0
                      : false
                  "
                >
                  Medication
                </h6>
                <ul
                  v-if="
                    treatment.record.hasOwnProperty('textFields') &&
                    treatment.record.textFields.hasOwnProperty('coMTextFields')
                      ? treatment.record.textFields.coMTextFields.length != 0
                      : false
                  "
                >
                  <li
                    v-for="(text, index) in treatment.record.textFields
                      .coMTextFields"
                    :key="index"
                  >
                    {{ text }}
                  </li>
                </ul>
                <h6 class="mt-4" style="color: red">
                  ข้อพิจารณาที่ต้องเฝ้าระวังที่ รพ.
                </h6>
                <ul style="color: red">
                  <li>ไข้มากกว่า 38 องศาเซลเซียส</li>
                  <li>หายใจเร็วกว่า 20 ครั้งต่อนาที</li>
                  <li>ความดันโลหิต น้อยกว่า 90/60mmHg</li>
                  <li>มีความเสี่ยงสูงที่จะเป็นปอดอักเสบรุนแรง</li>
                  <li>ภาพถ่ายรังสีมีความผิดปกติ</li>
                  <li>รับประทานอาหารและน้ำไม่ได้ หรือมีภาวะขาดน้ำ</li>
                  <li>ไม่สามารถแยกเฝ้าระวังตัวเองได้</li>
                </ul>
              </v-col>
            </v-card>
          </div>
        </template>
      </v-col>
      <v-col
        v-if="user.role == 'superadmin' || user.role == 'doctor'"
        class="mt-10"
        cols="12"
      >
        <TreatmentForm
          :patientID="searchedID"
          :user="user"
          @updateTreatment="handleUpdateTreatment"
        />
      </v-col>
    </v-row>

    <!-- memo -->
    <v-row v-if="searchedID" class="mx-auto mt-6">
      <h2 v-if="user.role == 'superadmin' || user.role == 'doctor'">
        Memo
      </h2>
      <v-col v-if="queriedData.memo.length != 0" class="pa-6" cols="12">
        <template>
          <div
            v-for="(node, id) in queriedData.memo"
            :key="id"
            class="pa-2 mt-2"
          >
            <v-card
              v-if="node.name == user.name || user.role == 'superadmin'"
              color="primary"
              class="white--text font-weight-bold pa-1 d-flex"
              style="justify-content: space-between;"
              ><div>
                {{ formatTimestamp(node.timestamp) }}
              </div>
              <div>{{ node.name }}</div>
            </v-card>
            <v-card
              v-if="node.name == user.name || user.role == 'superadmin'"
              class="pa-1"
              >{{ node.message }}</v-card
            >
          </div>
        </template>
      </v-col>
    </v-row>

    <v-row v-if="searchedID" class="mt-6 pa-6">
      <v-row
        v-if="user.role == 'superadmin' || user.role == 'doctor'"
        class="pa-8"
      >
        <h2><v-icon large color="green">mdi-plus-circle</v-icon></h2>

        <v-col cols="12" class="pa-2">
          <v-textarea
            v-model="memoText"
            solo
            name="input-7-4"
            placeholder="Add memo..."
          ></v-textarea>
        </v-col>
        <v-col>
          <v-btn color="primary" @click="addMemo">Submit</v-btn>
        </v-col>
      </v-row>
    </v-row>
  </v-container>
</template>

<script>
import DataTable from "@/components/DataTable.vue";
import LineChart from "@/components/LineChart.vue";
import { QrcodeStream, QrcodeCapture } from "vue-qrcode-reader";
import TreatmentForm from "@/components/TreatmentForm.vue";

import axios from "axios";

export default {
  name: "Transactions",
  components: {
    DataTable,
    LineChart,
    QrcodeStream,
    QrcodeCapture,
    TreatmentForm
  },
  data() {
    return {
      isUsingQRScanner: false,
      queryID: "",
      searchedID: "",
      queriedData: "",
      memoText: null,
      user: "",
      patientsList: [],
      treatmentList: []
    };
  },
  mounted() {
    // Get information of logged-in user
    const user = localStorage.getItem("user");
    if (user) {
      this.user = JSON.parse(user);
    }

    // Get list of all patients
    this.getPatientsList();
  },
  methods: {
    onDecode(decodedString) {
      if (decodedString != "") {
        const realPath = decodedString.split("/")[2].split(".")[0];

        if (confirm(`Patient ID: ${realPath}\nWould you continue?`)) {
          this.queryID = realPath;
          this.getData();
        }
      }
    },
    async getData() {
      if (this.queryID == "") {
        return alert("Please provides patient ID");
      }

      // For production
      const response = await axios
        .get(`${process.env.VUE_APP_API_ENDPOINT}/patient/${this.queryID}`)
        .catch(error => {
          alert(error);
        });
      if (response) {
        this.queriedData = response.data.data;
        this.searchedID = this.queryID;
        this.queryID = "";
        this.isUsingQRScanner = false;
        this.getTreatmentList();
      }
    },
    async getTreatmentList() {
      const response = await axios
        .get(`${process.env.VUE_APP_API_ENDPOINT}/treatment/${this.searchedID}`)
        .catch(error => {
          alert(error);
        });
      if (response) {
        this.treatmentList = response.data.data.treatment;
      }
    },
    async getPatientsList() {
      // For production
      const response = await axios
        .get(`${process.env.VUE_APP_API_ENDPOINT}/patients`)
        .catch(error => {
          alert(error);
        });
      if (response) {
        this.patientsList = response.data.data.sort();
      }
    },
    async addMemo() {
      if (this.memoText == null || this.memoText == "") {
        return alert("Please provides the treatment");
      }

      // For production
      const body = {
        ID: this.searchedID,
        timestamp: this.formattedTimestampNow(),
        message: this.memoText,
        name: this.user.name
      };

      const response = await axios
        .post(`${process.env.VUE_APP_API_ENDPOINT}/memo`, body, {
          headers: {
            "Content-Type": "application/json"
          }
        })
        .catch(error => {
          alert(error);
        });
      if (response) {
        this.queriedData.memo.push({
          timestamp: body.timestamp,
          message: body.message,
          name: body.name
        });
        this.memoText = null;
        alert("Adding memo is successful");
      }
    },
    handleUpdateGraphs(type, value) {
      if (!this.queriedData.medical) {
        this.queriedData.medical = {};
      }
      if (!this.queriedData.medical[type]) {
        this.queriedData.medical[type] = [];
      }
      this.queriedData.medical[type].push(value);

      this.$forceUpdate();
    },
    handleUpdateTreatment(value) {
      this.treatmentList.push(value);
    },
    formatTimestamp(timestamp) {
      const [date, time] = timestamp.split("_");
      const [year, month, day] = date.split("-");
      const [hour, min] = time.split("-");
      return new Date(year, month - 1, day, hour, min).toLocaleString();
    },
    formattedTimestampNow() {
      const temp_timestamp = new Date();

      const yyyy = temp_timestamp.getFullYear();
      const MM =
        (temp_timestamp.getMonth() + 1 < 10 ? "0" : "") +
        (temp_timestamp.getMonth() + 1);
      const dd =
        (temp_timestamp.getDate() < 10 ? "0" : "") + temp_timestamp.getDate();
      const HH =
        (temp_timestamp.getHours() < 10 ? "0" : "") + temp_timestamp.getHours();
      const mm =
        (temp_timestamp.getMinutes() < 10 ? "0" : "") +
        temp_timestamp.getMinutes();

      // Timestamp (yyyy-MM-dd_HH-mm)
      const timestamp = `${yyyy}-${MM}-${dd}_${HH}-${mm}`;
      return timestamp;
    },
    svgDataURL(svg) {
      var svgAsXML = new XMLSerializer().serializeToString(svg);
      return "data:image/svg+xml," + encodeURIComponent(svgAsXML);
    },
    downloadQRCode() {
      const qr = document.getElementById("qrCode");

      const dl = document.createElement("a");
      // This line makes it work in Firefox.
      document.body.appendChild(dl);
      dl.setAttribute("href", this.svgDataURL(qr));
      dl.setAttribute("download", `${this.searchedID}.svg`);
      dl.click();
    }
  }
};
</script>

<style scoped>
#qrCode >>> #qr-path {
  width: 100%;
  height: 100%;
}

.divider {
  display: block;
  width: 100%;
  height: 3px;
  background-color: black;
}

.small {
  max-width: 600px;
  margin: 25px auto;
}
</style>
